*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    background-color: var(--bg-site);
}
.container {
    margin: 0 auto;
    padding: 0 30px;
}
:root{
    --bg-site: #fff;
    --bg-icon: black;
    --color-text: black;
    --color-shadow: rgba(10, 10, 10, 0.1);
    --bg-modal: lightgray;
}
#dark{
   color: var(--bg-icon);
}

.mode{
    .light{
        display: block;
    }
    .dark{
        display: none;
    }
    --bg-site: #2B2B2B;
    --bg-icon: white;
    --color-text: white;
    --color-shadow: rgba(255, 255, 255, 0.5);
    --bg-modal: teal;
}

.site-header {
    padding: 20px 0;
    box-shadow: 10px 4px 20px 5px var(--color-shadow);
    position: sticky;
    background-color: var(--bg-site);
    top: 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__logo {
    display: inline-block;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    font-style: normal;
    color: var(--color-text);
}
.header__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    padding: 10px;
    border-radius: 7px;
    border: 2px solid var(--bg-icon);
}
.light {
    font-size: 18px;
    color: var(--color-text);
    font-weight: 600;
    font-style: normal;
    display: none;
}
.dark {
    font-size: 18px;
    color: var(--color-text);
    font-style: normal;
    font-weight: 600;
}

.hero-section {
    padding: 50px 0 80px;
}
.hero__wrapper {
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero__input {
    width: 350px;
    padding: 10px;
    border: none;
    outline: none;
    border: 2px solid var(--color-text);
    box-shadow: 10px 4px 20px 5px var(--color-shadow);
    border-radius: 7px;
}
.hero__select {
    width: 350px;
    padding: 10px;
    border: none;
    outline: none;
    border: 2px solid var(--color-text);
    box-shadow: 10px 4px 20px 5px var(--color-shadow);
    border-radius: 7px;
}
.hero__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
}
.hero__item{
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--bg-icon);
    box-shadow: 10px 4px 20px 5px var(--color-shadow);
}
.item__line {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-text);
}
.hero__img-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.item__name {
     font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}
.bold {
    font-size: 18px;
    font-weight: 800;
    color: var(--color-text);
}
.item__weight {
     font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}
.item__chance {
     font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}
.item__time {
     font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}
.item__candy {
     font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}
.item__count {
     font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}
.item__avg {
     font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}
.item__egg {
     font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}
.hero__btn {
    margin-top: 20px;
}
.btn {
    width: 150px;
    padding: 10px;
    border-radius: 7px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}

.modal-wrapper {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   backdrop-filter: blur(15px);
   display: none;
}
.modal {
    width: 50%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    right: 0;
    left: 0;
    border: 2px solid black;
    background-color: var(--bg-modal);
}
.open-modal{
    display: block;
}